$primary: #16518D;
$secondary: #6C757D;
$success: #76B772;
$info: #E3F2FD;
$warning: #FCBB5A;
$danger: #D00000;
$light: #EFEFEF;
$dark: #292929;
$header-height: 52px;
$extra-light: #F8F9FA;
$white: #fff;

html, body {
  color: #212529;
  height: 100%;
}
.list-group-item + .list-group-item {
  border-top-width: 1px;
}
.text-tomato {
  color: tomato;
}
.text-slate-blue {
  color: mediumslateblue;
}
.button {
  font-size: 24px;
}
.border-medium {
  border-style: solid;
  border-width: medium !important;
}
.interaction {
  width: 30px;
  height: 30px;
  background: $dark;
  color: $white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-header {
  background-color: white;
  &.sticky-top {
    top: $header-height;
  }
}
.dropdown-menu {
  z-index: 10000;
}
.dropdown-toggle {
  padding: 0 7px;
  height: 24px;

  &.btn-light {
    background-color: $extra-light;
  }

  &::after {
    display: none;
  }
}
.header-height {
  height: $header-height;
}
.footer-height {
  height: $header-height;
}
.app-footer {
  position:fixed;
  bottom:0;
  left:0;
  height: $header-height;
  z-index: 2000;
}
.w-20 {
  width: 20% !important;
}
.w-80 {
  width: 80% !important;
}
.mdl-dialog.firebaseui-dialog.firebaseui-id-dialog {
  height: fit-content;
}