html, body { height: 100% }
.list-group-item + .list-group-item {
  border-top-width: 1px;
}
.text-tomato {
  color: tomato;
}
.text-slate-blue {
  color: mediumslateblue;
}
.button {
  font-size: 24px;
}
.border-medium {
  border-style: solid;
  border-width: medium !important;
}
.interaction {
  width: 80px;
}

$primary: #5184B7;
$secondary: #D4E0ED;
$success: #76B772;
$info: #7EA2C9;
$warning: #FCBB5A;
$danger: #742F2F;
$light: #D4E0ED;
$dark: #18293A;
