$primary: #5184B7;
$secondary: #D4E0ED;
$success: #76B772;
$info: #7EA2C9;
$warning: #FCBB5A;
$danger: #742F2F;
$light: #D4E0ED;
$dark: #18293A;
$header-height: 58px;

html, body { height: 100% }
.list-group-item + .list-group-item {
  border-top-width: 1px;
}
.text-tomato {
  color: tomato;
}
.text-slate-blue {
  color: mediumslateblue;
}
.button {
  font-size: 24px;
}
.border-medium {
  border-style: solid;
  border-width: medium !important;
}
.interaction {
  width: 80px;
  border-radius: 0;
}
.page-header {
  background-color: white;
  &.sticky-top {
    top: $header-height;
  }
}
.dropdown {
  .dropdown-menu {
    z-index: 10000;
  }
}
.header-height {
  height: $header-height;
}
.footer-height {
  height: $header-height;
}
.app-footer {
  position:fixed;
  bottom:0;
  left:0;
  height: $header-height;
  z-index: 1000;
}
.w-20 {
  width: 20% !important;
}
.w-80 {
  width: 80% !important;
}
